<% content_for :title, "Alcohol Map" %>

<style>
  body, html {
    height: 100%;
    width: 100%;
  }
  #map {
    width: 100%;
    height: 70%;
  }
</style>

<%= render "layouts/nav" %>

<div id="map"></div><br>

<!--<div align="center">-->
<!--  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
  <!-- Responsive -->
<!--  <ins class="adsbygoogle"-->
<!--       style="display:block"-->
<!--       data-ad-client="ca-pub-3397336129295247"-->
<!--       data-ad-slot="3429266211"-->
<!--       data-ad-format="auto"></ins>-->
<!--  <script>-->
<!--  (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--  </script>-->
<!--</div><br>-->

<div class="container-fluid">
  <div class="panel panel-default col-md-6">
    <table class="table">
      <caption><b>인기 있는 장소</b></caption>
      <tbody>
        <% @place.where("rating_count > 0").order("(rating+0.0) / rating_count DESC, rating_count DESC").limit(10).each do |p| %>
          <tr>
            <th class="text-center"><span class="label label-primary"><%= p.category %></span></th>
            <th class="text-center"><a href="/place?id=<%= p.id %>" style="text-decoration:none;color:black;"><%= p.placename %></a></th>
            <th class="text-center">
              <a href="<%= p.website %>" target="_blank" style="text-decoration:none;"><span class="label label-success">웹사이트</span></a>
              <a href="https://www.google.com/maps/dir//<%= URI.encode(p.address) %>" target="_blank" style="text-decoration:none;"><span class="label label-info">길찾기</span></a>
              <span class="label label-danger"><span class="glyphicon glyphicon-star"></span><%= (p.rating.to_f / p.rating_count.to_f).round(1) %>/5.0</span><span class="label label-warning"><%= p.rating_count %></span>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel panel-default col-md-6">
    <table class="table">
      <caption><b>최근 수정된 장소</b></caption>
      <tbody>
        <% @place.order(updated_at: :desc).limit(10).each do |p| %>
          <tr>
            <th class="text-center"><span class="label label-primary"><%= p.category %></span></th>
            <th class="text-center"><a href="/place?id=<%= p.id %>" style="text-decoration:none;color:black;"><%= p.placename %></a></th>
            <th class="text-center">
              <a href="<%= p.website %>" target="_blank" style="text-decoration:none;"><span class="label label-success">웹사이트</span></a>
              <a href="https://www.google.com/maps/dir//<%= URI.encode(p.address) %>" target="_blank" style="text-decoration:none;"><span class="label label-info">길찾기</span></a>
              <span class="label label-danger"><span class="glyphicon glyphicon-star"></span><%= (p.rating.to_f / p.rating_count.to_f).round(1) %>/5.0</span><span class="label label-warning"><%= p.rating_count %></span>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "layouts/copyright" %>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: {lat: 37.566535, lng: 126.9779692},
      streetViewControl: false,
      mapTypeControl: false
    });

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        map.setCenter(pos);
        map.setZoom(15)
      });
    }
    var infowindow = new google.maps.InfoWindow();
    var contentString = [];
    var marker = [];
    <% unless @place.nil? %>
      <% for i in 0..(@place.count - 1) %>
        contentString[<%= i %>] = '<h4><span class="label label-primary"><%= @place[i].category %></span></h4>' +
          '<h3><b><a href="/place?id=<%= @place[i].id %>" style="text-decoration:none;"><%= @place[i].placename %></a></b></h3>'+
          '<p><%= @place[i].address %></p>'+
          '<h4><a href="<%= @place[i].website %>" target="_blank" style="text-decoration:none;"><span class="label label-success">웹사이트</span></a> ' +
          '<a href="https://www.google.com/maps/dir//<%= URI.encode(@place[i].address) %>" target="_blank" style="text-decoration:none;"><span class="label label-info">길찾기</span></a> ' +
          '<span class="label label-danger"><span class="glyphicon glyphicon-star"></span><%= (@place[i].rating.to_f / @place[i].rating_count.to_f).round(1) %>/5.0</span><span class="label label-warning"><%= @place[i].rating_count %></span></h4>';

        marker[<%= i %>] = new google.maps.Marker({
          position: {lat: <%= @place[i].latitude %>, lng: <%= @place[i].longitude %>},
          map: map,
          icon: '/<%= @place[i].category %>.png',
          title: '<%= @place[i].placename %>'
        });
        marker[<%= i %>].addListener('click', function() {
          infowindow.setContent(contentString[<%= i %>]);
          infowindow.open(map, marker[<%= i %>]);
        });
      <% end %>
    <% end %>
  }

    $( "li[name=<%= @category %>]" ).addClass( "active" );
    $('.starrr').starrr({
      readOnly: true
    })
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcllsa4w7Fi-o1Xs0Y_C3Z_7Pe0zXag0E&callback=initMap"></script>
