<style>
  body, html {
    height: 100%;
    width: 100%;
  }
  #map {
    width: 100%;
    height: 90%;
  }
</style>

<%= render "layouts/nav" %>

<div id="map"></div><br>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: {lat: 37.566535, lng: 126.9779692}
    });
    
    var infowindow = new google.maps.InfoWindow();
    var contentString = [];
    var marker = [];
    <% unless @place.nil? %>
      <% for i in 0..(@place.count - 1) %>
        contentString[<%= i %>] = '<h4><span class="label label-primary"><%= @place[i].category %></span></h4>' +
          '<h3><b><a href="<%= $root %>place?id=<%= @place[i].id %>" style="text-decoration:none;"><%= @place[i].placename %></a></b></h3>'+
          '<p><%= @place[i].address %></p>'+
          '<h4><a href="<%= @place[i].website %>" target="_blank" style="text-decoration:none;"><span class="label label-success">웹사이트</span></a> ' +
          '<a href="https://www.google.com/maps/dir//<%= URI.encode(@place[i].address) %>" target="_blank" style="text-decoration:none;"><span class="label label-info">길찾기</span></a> ' +
          '<span class="label label-danger"><span class="glyphicon glyphicon-star"></span><%= (@place[i].rating.to_f / @place[i].rating_count.to_f).round(1) %>/5.0</span> <span class="label label-warning"><%= @place[i].rating_count %>번 평가</span></h4>';
          
        marker[<%= i %>] = new google.maps.Marker({
          position: {lat: <%= @place[i].latitude %>, lng: <%= @place[i].longitude %>},
          map: map,
          icon: '<%= $root %><%= @place[i].category %>.png',
          title: '<%= @place[i].placename %>'
        });
        marker[<%= i %>].addListener('click', function() {
          infowindow.setContent(contentString[<%= i %>]);
          infowindow.open(map, marker[<%= i %>]);
        });
      <% end %>
    <% end %>
    
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        map.setCenter(pos);
        map.setZoom(15)
      });
    }
  }
    
    $( "li[name=<%= @category %>]" ).addClass( "active" );
    $('.starrr').starrr({
      readOnly: true
    })
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFwh5f4ZyyxHLsCvK339Bx2Uu7c4uxK80&callback=initMap"></script>