<% content_for :title, @place.placename %>

<style>
img {
    max-height: 500px;
}
</style>

<style>
  #map {
    width: 100%;
    height: 200px;
  }
</style>

<%= render "layouts/nav" %>
            
<div class="container" style="margin-top: 20px;margin-bottom: 20px;">
    <div class="thumbnail">
        <div style="margin-left:15px;margin-right:15px;" class="caption-full">
            <h3><span class="label label-primary"><%= @place.category %></span></h3>
            <h3><b><%= @place.placename %></b></h3>
            <p><%= @place.address %></p>
            <h3>
                <a href="<%= @place.website %>" target="_blank" style="text-decoration:none;"><span class="label label-success">웹사이트</span></a>&nbsp;
                <a href="https://www.google.com/maps/dir//<%= URI.encode(@place.address) %>" target="_blank" style="text-decoration:none;"><span class="label label-info">길찾기</span></a>
            </h3>
            <h3>
                <span class="label label-danger">
                    <% if @place.rating_count != 0 %>
                        <span id="stars-existing" class="starrr"></span>
                        <%= (@place.rating.to_f / @place.rating_count.to_f).round(1) %>/5.0
                    <% else %>
                        <span id="stars-existing" class="starrr"></span>
                        0.0/5.0
                    <% end %>
                </span>
                <span class="label label-warning"><%= @place.rating_count %></span>
            </h3>
            <br><div id="map"></div>
            <hr>
            <p style="white-space: pre-wrap;"><%= sanitize @place.content, tags: %w(strong em a img image embed iframe span), attributes: %w(href src width height style) %></p>
            <br>
        </div>
    </div>
    <!--<div align="center">-->
    <!--  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
      <!-- Responsive -->
    <!--  <ins class="adsbygoogle"-->
    <!--       style="display:block"-->
    <!--       data-ad-client="ca-pub-3397336129295247"-->
    <!--       data-ad-slot="3429266211"-->
    <!--       data-ad-format="auto"></ins>-->
    <!--  <script>-->
    <!--  (adsbygoogle = window.adsbygoogle || []).push({});-->
    <!--  </script>-->
    <!--</div>-->
    <div id="disqus_thread"></div>
    <a class="btn btn-default" href="/"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> 지도</a>
    <div class="pull-right">
        <a class="btn btn-default" href="/edit?id=<%= @place.id %>"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 수정</a>
    </div>
</div>

<script>
/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */

var disqus_config = function () {
    this.page.url = '<% request.original_url %>';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '<% request.original_url %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//alcohol-map.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script>
    $( "img" ).addClass( "img-responsive" );
    $('.starrr').starrr({
      change: function(e, value){
        window.location.href = "/home/rating_submit?id=<%= @place.id %>&score=" + value;
      }
    })
</script>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: {lat: <%= @place.latitude.to_f %>, lng: <%= @place.longitude %>},
      streetViewControl: false,
      mapTypeControl: false
    });
    
    var marker;
    <% unless @place.nil? %>
        marker = new google.maps.Marker({
          position: {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>},
          map: map,
          icon: '/<%= @place.category %>.png',
          title: '<%= @place.placename %>'
        });
    <% end %>
  }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFwh5f4ZyyxHLsCvK339Bx2Uu7c4uxK80&callback=initMap"></script>